@import "tailwindcss";

:root {
  --navy-950: #0b0010;
  --navy-900: #120016;
  --navy-800: #37003c;

  --gold-300: #00ff85;
  --gold-400: #00e878;
  --gold-500: #e9007f;
  --gold-600: #963cff;

  --cream-100: #ffffff;

  --background: var(--navy-950);
  --foreground: var(--cream-100);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy-950: var(--navy-950);
  --color-navy-900: var(--navy-900);
  --color-navy-800: var(--navy-800);
  --color-gold-300: var(--gold-300);
  --color-gold-400: var(--gold-400);
  --color-gold-500: var(--gold-500);
  --color-gold-600: var(--gold-600);
  --color-cream-100: var(--cream-100);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  min-height: 100%;
  background: var(--navy-950);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
